* {
 font-family: share;
 box-sizing: border-box;
}

body {
 background-color: black;
 color: lightblue;
}

h1 {
text-align: center;
}

tr > td:nth-child(1) {
    color: yellow;
}

#wiwok {
 font-style: italic;
}

#main {
 display: flex;
 flex-direction: column;
 align-items: center;
}

img {
 transition: 0.5s;
}

img:hover {
 transform: rotate(360deg);
}